/*HOVER EFFECT NAVBAR*/
@media all and (min-width: 990px) {
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #000000;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
  
}
/*scroll*/
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #e0e8ff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f5faff;
    border-radius: 2px;
    border: 3px solid #b4c2ca;
  }

.boombox {
      width: 180px;
      height: 118px;
      background-image: url('/media/dokoassets/boombox.gif');
      position: relative;
      margin-top: -10px;
  }

  .pause {
      position: absolute;
      top: 70px;
      left: 85px;
      cursor: url("/media/cursors/torocursorpoint.png"), auto;
  }

  .play {
      position: absolute;
      top: 70px;
      right: 72px;
      cursor: url("/media/cursors/torocursorpoint.png"), auto;
  }

  .stop {
      position: absolute;
      top: 70px;
      left: 72px;
      cursor: url("/media/cursors/torocursorpoint.png"), auto;
  }

  .bbtitle {
            -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
      background-color: #151912;
      color: #cfccc8;
      font-family: "Gill Sans MT";
      line-height: 18px;
      font-size: 13px;
      width: 160px;
      height: 18px;
      position: absolute;
      top: 36px;
      left: 10px;
  }

  @media only screen and (min-width: 430px) {
  
  .header{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("white bg (1).png");
  }

  .aboutus{
    margin-top: 40px;
    font-family: mini-wakuwaku;
    font-size: 40px;
    text-align: center;
  }

  .kldscp-logo{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
    
  .what{
    margin-left: 40px;
    font-family: "Gill Sans MT";
    text-align: center;
  }

  .what-desc{
    margin-top: 85px;
    font-family: "Gill Sans MT";
    text-align: center;
    
  }
  .carousel{
    margin-top:20px;
  }
    
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
    
  .why{
    margin-top: 60px;
    font-family: "Gill Sans MT";
    text-align:center;
  }
    
  .description{
    margin-left: 40px;
  }
    .ourgoals{
       width: 630px;
    margin-top: 80px;
    display: block;
        margin-left: auto;
    margin-right: auto;
    }

  .box{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card{
    height: 350px;
    width: 280px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: "Gill Sans MT";
  }

  .footer{
    position: relative;
    width: 100%;
    background: #ffe6e6; 
    min-height: 100px;
    padding: 20px 50px;
  }

    @media only screen and (min-width: 430px) {

    
